In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('train.csv')
df1.shape

(19237, 18)

In [3]:
df2 = pd.read_csv('test.csv')
df2.shape

(8245, 18)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [5]:
df1.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [6]:
df3=df1[['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags']]

In [7]:
df3.columns

Index(['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [8]:
df4=df2[['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags']]

In [9]:
df4.columns

Index(['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [10]:
len(df3[df3['Levy']=='-'])/19237

0.3024899932421895

## Removing Outliers

In [11]:
# df3.groupby(['Model'])['Price'].max().sort_values(ascending=False)
# From this we can see there is a Combo model vehicle which is clearly an outlier other on Urus has same max and mean value so
# the priceof urus might be that high

In [12]:
df5=df3[df3['Price']<900000]
df5=df5[df5['Price']>100]

In [13]:
df5.shape
# df5.describe()

(18855, 17)

## Adding Traning and Testing Data Sets

In [14]:
df7=df5.append(df4)

In [15]:
df8=df7[0:18855]
df9=df7[18855:27100]

In [16]:
 for col in df7.columns:
    print(col,'\t : \t\t', len(df5[col].unique()),' labels')

Price 	 : 		 2285  labels
Levy 	 : 		 558  labels
Manufacturer 	 : 		 65  labels
Model 	 : 		 1585  labels
Prod. year 	 : 		 54  labels
Category 	 : 		 11  labels
Leather interior 	 : 		 2  labels
Fuel type 	 : 		 7  labels
Engine volume 	 : 		 107  labels
Mileage 	 : 		 7649  labels
Cylinders 	 : 		 13  labels
Gear box type 	 : 		 4  labels
Drive wheels 	 : 		 3  labels
Doors 	 : 		 3  labels
Wheel 	 : 		 2  labels
Color 	 : 		 16  labels
Airbags 	 : 		 17  labels

## Data Cleaning

In [17]:
#Levy
df7['Levy'].replace({'-':910.2}, inplace = True)
df7['Levy']=pd.to_numeric(df7['Levy'])

In [18]:
#Manufacturer I think it should be best to take almost all manufacturer
# df7.Manufacturer.value_counts().sort_values(ascending=False).head(20)#30
# df5.groupby(['Manufacturer'])['Price'].max().sort_values(ascending=False).head(5)

In [19]:
#Model  Either cleaning by some common terms like GLE, GLC or Range Rover etc
# df7.Model.value_counts().sort_values(ascending=False).head(50)#50
# df5.groupby(['Model'])['Price'].max().sort_values(ascending=False).head(20)
new = df7['Model'].str.split(" ", n = 1, expand = True)
  
# making separate first name column from new data frame
df7['Model']= new[0]

In [20]:
# df7['Model'].value_counts().sort_values(ascending=False).head(50)

top20 = [x for x in df7.Model.value_counts().sort_values(ascending=False).head(20).index]

# for label in top20:
#     df7[label]=np.where(df7['Model']==label,1,0)

In [21]:
def onehottop20(df, variable, topx):
    for label in topx:
        df[variable+'_'+label]=np.where(df7['Model']==label,1,0)

onehottop20(df7,'Model', top20)

In [22]:
#Prod Year
df7['Prod. year']=2021-df7['Prod. year']

In [23]:
#Category
df7.Category.value_counts().sort_values(ascending=False)#50

Sedan          12398
Jeep            7768
Hatchback       3868
Minivan          920
Coupe            742
Universal        523
Microbus         427
Goods wagon      307
Pickup            72
Cabriolet         60
Limousine         15
Name: Category, dtype: int64

In [24]:
# Leather Interior
df7['Leather interior'].replace({'Yes':1, 'No':0}, inplace = True)

In [25]:
# Fuel Type
# df7['Fuel type'].value_counts().sort_values(ascending=False)#50
# df5.groupby(['Fuel type'])['Price'].max().sort_values(ascending=False)
# pd.get_dummies(df7['Fuel type'], drop_first=True)
# df7 = load_data() # reset dataframe
df7 = pd.get_dummies(df7, columns=['Manufacturer','Fuel type', 'Category','Color'], drop_first=True)

In [26]:
df7.head()

,Price,Levy,Model,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,13328.0,1399.0,RX,11,1,3.5,186005 km,6.0,Automatic,4x4,...,0,0,0,0,0,0,1,0,0,0
1,16621.0,1018.0,Equinox,10,0,3,192000 km,6.0,Tiptronic,4x4,...,0,0,0,0,0,0,0,0,0,0
2,8467.0,910.2,FIT,15,0,1.3,200000 km,4.0,Variator,Front,...,0,0,0,0,0,0,0,0,0,0
3,3607.0,862.0,Escape,10,1,2.5,168966 km,4.0,Automatic,4x4,...,0,0,0,0,0,0,0,0,1,0
4,11726.0,446.0,FIT,7,1,1.3,91901 km,4.0,Automatic,Front,...,0,0,0,0,0,0,1,0,0,0

In [27]:
#Engine Volume
# new data frame with split value columns
new = df7['Engine volume'].str.split(" ", n = 1, expand = True)
  
# making separate first name column from new data frame
df7['Engine volume']= new[0]
  
# making separate last name column from new data frame
df7['Turbo']= new[1]

df7['Engine volume']=pd.to_numeric(df7['Engine volume'])

In [28]:
# Turbo
df7['Turbo']=df7['Turbo'].fillna(0)
df7['Turbo'].replace({'None':0,'Turbo':1}, inplace = True)
df7['Turbo']=pd.to_numeric(df7['Turbo'])
# df7['Turbo'].replace('None',0, inplace = True)
# df7['Turbo'].replace('Turbo',1, inplace = True)

In [29]:
#Milege
new = df7['Mileage'].str.split(" ", n = 1, expand = True)
  
# making separate first name column from new data frame
df7['Mileage']= new[0]
#all the dimensions are in km
df7['Mileage']=pd.to_numeric(df7['Mileage'])

In [30]:
#Cylinders
# df8['Cylinders'].value_counts().sort_values(ascending=False)
# only 6 are more than 12 which can be removed

In [31]:
#GearBoxType
# df5.groupby(['Gear box type'])['Price'].max()
# df7['Gear box type'].value_counts().sort_values(ascending=False).head(5)
df7['Gear box type'].replace({'Manual':0, 'Variator':1, 'Automatic':2, 'Tiptronic':3}, inplace = True)

In [32]:
#Drive Wheels
# df5.groupby(['Drive wheels'])['Price'].max()
# From max and mean values as well as internet search shows that AWD>RWD>FWD
# df7['Drive wheels'].value_counts().sort_values(ascending=False).head(5)
df7['Drive wheels'].replace({'Front':0, 'Rear':1, '4x4':2}, inplace = True)

In [33]:
# Doors
# df6['Doors'].value_counts().sort_values(ascending=False).head(5)
# df3.groupby(['Doors'])['Price'].mean()
# Since Median for all types are almost same there is no distinct difference but mean of 02 is large
# so it is given the largest priority after which 04 which are insanely large in number after that >5

df7['Doors'].replace({'04-May':1, '02-Mar':2, '>5':0}, inplace = True)

In [34]:
# Wheel
# df6['Wheel'].value_counts().sort_values(ascending=False).head(5)#50
# df3.groupby(['Wheel'])['Price'].mean()
df7['Wheel'].replace({'Left wheel':1, 'Right-hand drive':0}, inplace = True)

In [35]:
# Color
# df3.groupby(['Color'])['Price'].mean()
# df5.groupby(['Color'])['Price'].mean()

In [36]:
#Airbags
# df8['Airbags'].value_counts()

In [37]:
df7.drop(['Model'], axis=1, inplace = True)

In [38]:
df7.shape

(27100, 131)

In [39]:
df8=df7[0:18855]
df9=df7[18855:27100]

In [40]:
df8.shape

(18855, 131)

In [41]:
# AnotherWay to change values
# df.loc[df.Weight == "155", "Name"] = "John"
# Name becomes "John" if Weight is 155

## Machine Learning

In [42]:
# df8- Training Data- (18855, 131)
# df9 Testing Data -(8245, 131)

In [43]:
Xtrain=df8.drop('Price',axis=1)
ytrain=df8['Price']
Xtest=df9.drop('Price',axis=1)
ytest=df9['Price']

In [44]:

# from sklearn.ensemble import RandomForestRegressor
# rfr = RandomForestRegressor(n_estimators=1000)
# rfr.fit(Xtrain,ytrain)

RandomForestRegressor(n_estimators=1000)

In [65]:
# import xgboost
# xgb_reg = xgboost.XGBRegressor(colsample_bytree= 0.7, gamma= 0, learning_rate= 0.06, max_depth= 8, min_child_weight= 1, n_estimators= 500, objective= 'reg:linear', subsample= 1)
# xgb_reg.fit(Xtrain,ytrain)

[02:39:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.06, max_delta_step=0, max_depth=8,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=4, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [66]:
# #Predictions 
# predict=xgb_reg.predict(Xtest)
# output=pd.DataFrame()
# output["Price"]=pd.Series(predict)
# output.to_csv("submission.csv",index=False)

In [46]:
# train=df7[0:14000]
# cv=df7[14000:18855]
# test=df7[18855:]
# Xtrain=train.drop('Price',axis=1)
# ytrain=train['Price']
# Xcv=cv.drop('Price',axis=1)
# ycv=cv['Price']
# Xtest=test.drop('Price',axis=1)
# # ytest=df9['Price']

In [47]:
# #Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# sc.fit(Xtrain)
# Xtrain= sc.transform(Xtrain)
# Xtest = sc.transform(Xtest)

## Linear Regression

In [48]:
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import Lasso
# from sklearn.linear_model import Ridge
# from sklearn.metrics import mean_squared_error
# lr = LinearRegression()
# lr_lasso = Lasso()
# lr_ridge = Ridge()

In [49]:
# def rmse(y_test, y_pred):
#   return np.sqrt(mean_squared_error(y_test, y_pred))

In [50]:
# lr.fit(Xtrain, ytrain)
# lr_score = lr.score(Xcv, ycv) # with all num var 0.7842744111909903
# lr_rmse = rmse(ycv, lr.predict(Xcv))
# lr_score, lr_rmse

In [51]:
# # Lasso 
# lr_lasso.fit(Xtrain, ytrain)
# lr_lasso_score=lr_lasso.score(Xcv, ycv) # with balcony 0.5162364637824872
# lr_lasso_rmse = rmse(ycv, lr_lasso.predict(Xcv))
# lr_lasso_score, lr_lasso_rmse

## SVM

In [52]:
# from sklearn.svm import SVR
# svr = SVR()
# svr.fit(Xtrain,ytrain)
# svr_score=svr.score(Xcv,ycv) # with 0.2630802200711362
# svr_rmse = rmse(ycv, svr.predict(Xcv))
# svr_score, svr_rmse

## RFC

In [53]:

# from sklearn.ensemble import RandomForestRegressor
# rfr = RandomForestRegressor()
# rfr.fit(Xtrain,ytrain)
# rfr_score=rfr.score(Xcv,ycv) # with 0.8863376025408044
# rfr_rmse = rmse(ycv, rfr.predict(Xcv))
# rfr_score, rfr_rmse

## XG boost

In [54]:
# import xgboost
# xgb_reg = xgboost.XGBRegressor({'colsample_bytree': 0.7, 'gamma': 0, 'learning_rate': 0.06, 'max_depth': 8, 'min_child_weight': 1, 'n_estimators': 500, 'objective': 'reg:linear', 'subsample': 1})
# xgb_reg.fit(Xtrain,ytrain)
# xgb_reg_score=xgb_reg.score(Xcv,ycv) # with 0.8838865742273464
# xgb_reg_rmse = rmse(ycv, xgb_reg.predict(Xcv))
# xgb_reg_score, xgb_reg_rmse

In [55]:
# from sklearn.model_selection import cross_val_score
# cvs_rfr2 = cross_val_score(RandomForestRegressor(), Xtrain,ytrain, cv = 10)
# cvs_rfr2, cvs_rfr2.mean() # 0.9652425691235843)

In [56]:
# from sklearn.model_selection import GridSearchCV
# from xgboost.sklearn import XGBRegressor

# # Various hyper-parameters to tune
# xgb1 = XGBRegressor()
# parameters = {'learning_rate': [0.1,0.03, 0.06], #so called `eta` value, # [default=0.3] Analogous to learning rate in GBM
#               'min_child_weight': [1,3,5], #[default=1] Defines the minimum sum of weights of all observations required in a child.
#               'max_depth': [4, 6, 8], #[default=6] The maximum depth of a tree,
#               'gamma':[0,0.1,0.001,0.2], #Gamma specifies the minimum loss reduction required to make a split.
#               'subsample': [0.7,1,1.5], #Denotes the fraction of observations to be randomly samples for each tree.
#               'colsample_bytree': [0.7,1,1.5], #Denotes the fraction of columns to be randomly samples for each tree.
#               'objective':['reg:linear'], #This defines the loss function to be minimized.
#               'n_estimators': [100,300,500]}

# xgb_grid = GridSearchCV(xgb1,
#                         parameters,
#                         cv = 2,
#                         n_jobs = -1,
#                         verbose=True)

# xgb_grid.fit(Xtrain, ytrain)

# print(xgb_grid.best_score_) # 0.9397345161940295
# print(xgb_grid.best_params_)
# # reg:linear is now deprecated in favor of reg:squarederror.
# # 0.6729826498507804
# # {'colsample_bytree': 0.7, 'gamma': 0, 'learning_rate': 0.06, 'max_depth': 8, 'min_child_weight': 1, 'n_estimators': 500, 'objective': 'reg:linear', 'subsample': 1}

In [57]:

# xgb_tune = xgb_grid.estimator

# xgb_tune.fit(Xtrain,ytrain) # 0.9117591385438816
# # xgb_tune.score(X_test,y_test)

In [58]:
# cvs = cross_val_score(xgb_tune, Xtrain,ytrain, cv = 10)
# cvs, cvs.mean() #  0.9645582338461773)

In [59]:
'''cvs = cross_val_score(xgb_tune, X_train,y_train, cv = 10)
cvs, cvs.mean() #  0.9645582338461773)'''

'cvs = cross_val_score(xgb_tune, X_train,y_train, cv = 10)\ncvs, cvs.mean() #  0.9645582338461773)'